
<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  <span>the number of rooms is : </span>
  <span [innerText]="numberOfRooms"> </span>
</div>
<button (click)="toggle()">Toggle</button>

<!-- {{ 
  rooms.availableRooms ??  " no rooms"
}} -->
<div *ngIf="rooms.availableRooms! == undefined "> No Rooms</div>
<div *ngIf="rooms.availableRooms! > 0">Rooms List</div>



<div [ngSwitch]="someVariable">
  <div *ngSwitchCase="'value1'">Content for value1</div>
  <div *ngSwitchCase="'value2'">Content for value2</div>
  <div *ngSwitchCase="'value3'">Content for value3</div>
  <div *ngSwitchDefault>Default Content</div>
</div>

